NODE_ENV=development
PORT=8080
LOG_LEVEL=info
JWT_SECRET=dev-local-secret
ADMIN_SEED_PASSWORD=Test123!Drive
TEST_RIDER_SEED_PASSWORD=Test123!Drive
TEST_DRIVER_SEED_PASSWORD=Test123!Drive
STRIPE_WEBHOOK_SECRET=
DATA_STORE_MODE=file
DATA_STORE_FILE=.data/store.json
REDIS_URL=redis://localhost:6379
MAPBOX_PUBLIC_TOKEN=pk.eyJ1IjoiZmx1cGZsYXAiLCJhIjoiY21wMjI3M3dpMDN5eTJycHMyeG8yaDZ3OCJ9.VUXlzIoU5Gxfj6-BVjnxag
